
<p>

  <strong>Name:</strong>

  <strong>Commenter:</strong>

  <%= comment.commenter %>
</p>
 
<p>

  <strong>Question:</strong>

  <strong>Comment:</strong>

  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete', [comment.flight, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>