<div class="index-head">
  
    <h1 class="center">All Flights</h1>
    <button type="button" class="add-button" style="color:white"> <%= link_to 'New Flight', new_flight_path %> </button>
</div>

<% for flight in @flights %>
    <%# <% if flight.user == current_user %> 
        <div class="link row clearfix link-overview">
            <div class="link-rating">
                <div>
                    <h2><%= link_to flight.title, flight_path(flight) %></h2>
                </div>
                <div>
                  <tr>
                      <td><%= flight.description %></td>
                  </tr>
                </div>
            </div>
            <div>
                <h2><small class="seller">Created <%= time_ago_in_words(flight.created_at) %> ago</small></h2>
            </div>
        </div>
    <%# <% end %> 
<% end %>