<div class="flex-container">
    <div class= "home-text">
<h1 class="display-1">Welcome To Uber Flights!</h1>
        <br>
<h1 class="display-4">Sign in or sign up if you miss flying...</h1>
        <br>
        <div class="button-box">
            <%= link_to 'Sign Up', new_user_registration_path,  class: "btn btn-info btn-lg my-2" %> 
            <%= link_to 'Sign In', new_user_session_path, class: "btn btn-light btn-lg my-2" %> 
        </div>

    </div>
</div>