<h2>This is your list of orders:</h2>

<%# <h3>Order: #<%= @order.id %>
<%# </h3>  %>

<%# <p>You ordered <%= @order.flights.count %> 
<%# Flights:</p> %> 

<%# <ul> %>
  <%# <% @order.flights.each do |flight| %> 
  
    <%# <li><%= flight.title %>
     <%# - <%= number_to_currency flight.cost</li>  %>
  <%# <% end %> 
<%# </ul> %>