<div class= "about-text">
    <h1>About Us</h1>
    <%= image_tag "pilot.jpg", alt: "pilot image", class: "hero-img" %>
    <h5>With the recent pandemic crippling the aviation industry a lot of pilots are paying to hire aircraft so that they can both keep their skills up, and fulfil the recency hours required to remain hireable. </h5>
    <h5>Unless working for a company these pilots are legally not allowed to make money off a flight, however, they're happy to share the cost of hiring if people would like to get a view few people ever get to see!  
    </h5>
    <br>
    <button type="button" class="btn btn-outline-success"><%= link_to 'Back', flights_path %></button>
</div>