/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";
@import 'home';
@import 'flights';


$nav-bar:#062737;  
$background: #F7F7FF; 
$button-colors: #BDD5EA; 
$button-font: #fff;

header {
    background-color: $nav-bar;
    padding: 5px 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: $nav-bar;
    width: 100%;
    height: 75px;
    color: #fff;
    font-weight: 800;

    /*icon sizing*/
    // img {
    //     width:120px; 
    //     height:72px;
    // }

    p {
        color: #fff;
        margin: auto 0;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding: 3px;
        float: left;
        margin-right: 15px;
        text-transform: uppercase;
    }

        a:hover {
            text-decoration: none;
        }

    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


