// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.flex-container {
    background-image: image-url('test.jpg'); 
    opacity: 0.9;
    width: 100vw;
    height: 100vh;


    .home-text {
        padding-top: 75px;

    }

    h1 {
        text-align: center;
        font-style: oblique;
        color: #062737;
        text-decoration: underline;
    }

    h3 {
        text-align: center;
        font-style: oblique;
        color: #062737;
    }

    .button-box {
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font: white;
    }

}

